{% extends "base.html" %}
{% block head_extra %}
    <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
{% endblock %}
{% block body_attrs %} class="libertinus latex-dark-auto"{% endblock %}
{% block content %}
{{ section.content | safe }}

{% set blog_section = get_section(path="blog/_index.md") %}
{% set links_section = get_section(path="links/_index.md") %}
{% set all_items = blog_section.pages | concat(with=links_section.pages) | sort(attribute="date") | reverse %}
<section>
<h2>Scribbles</h2>
<ul>
{% for item in all_items %}
  {% if item.extra.url %}
    <li>{{ item.date | date(format="%Y-%m-%d") }} &mdash; <a href="{{ item.extra.url | safe }}">{{ item.title }}</a>
    {% if item.extra.description %}<p class="teaser">{{ item.extra.description }}</p>{% endif %}</li>
  {% else %}
    <li>{{ item.date | date(format="%Y-%m-%d") }} &mdash; <a href="{{ item.path | safe }}">{{ item.title }}</a>
    <p class="teaser">{{ item.content | striptags | truncate(length=200) }}</p></li>
  {% endif %}
{% endfor %}
</ul>
</section>
      <figure>
        <div id="wcb" class="carbonbadge wcb-d"></div>
      </figure>
      <p>h/t <a href="https://edwardtufte.github.io/tufte-css/">tufte-css</a></p>
{% endblock %}
