<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="local.css" />
    <link rel="stylesheet" href="tufte.css" />
    <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
    <link rel="icon" href="/static/favicon.png">
  </head>
  <body class="libertinus latex-dark-auto">
    <article>
{{ body_html }}
      <section>
        <h2>Scribbles</h2>
        <ul>
{{ scribbles_items_html }}
        </ul>
      </section>

      <figure>
        <div id="wcb" class="carbonbadge wcb-d"></div>
      </figure>
      <p>h/t <a href="https://edwardtufte.github.io/tufte-css/">tufte-css</a></p>
    </article>
  </body>
</html>
